:root {
    scroll-behavior: smooth;
    --vp-c-accent: #5468ff;
    --vp-c-accent-hover: #5e71ff;
    --vp-c-accent-bg: #5468ff;

    :not(pre)>code {
        // background-color: rgba(125, 125, 255, 0.4);
        color: rgb(255, 73, 73);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: 1px;
        padding: 4px 6px;
    }
}

[data-theme='dark'] {
    .el-card{
        background-color: var(--vp-c-bg);
        border: 1px solid var(--vp-c-border)
    }
    .el-card__footer{
        border-top: 1px solid var(--vp-c-border)
    }

    .el-card.is-hover-shadow:hover {
        box-shadow: var(--el-box-shadow-dark);
    }

    div[class*=language-] {
        background-color: #151618;
    }
    .el-timeline {
        --el-timeline-node-color: rgb(62, 67, 77);
    } 
    .el-card {
        color: white;
    }
}