:root {
    scroll-behavior: smooth;
    --vp-c-accent: #5468ff;
    --vp-c-accent-hover: #5e71ff;
    --vp-c-accent-bg: #5468ff;

    :not(pre)>code {
        color: rgb(255, 73, 73);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: 1px;
        padding: 4px 6px;
        margin: 0 4px;
        background-color: var(--vp-c-grey-bg) !important;
    }

    table{
        display: table;
    }

    div[class*=language-] pre::-webkit-scrollbar{
        height: 6px !important;
        
    }
    div[class*=language-] pre:hover::-webkit-scrollbar-thumb{
        background-color: #7672ff !important;
        border-radius: 3px !important;
    }
    div[class*=language-] pre::-webkit-scrollbar-thumb:hover{
        cursor: pointer !important;
    }
}

[data-theme='dark'] {
    .el-card{
        background-color: var(--vp-c-bg);
        border: 1px solid var(--vp-c-border)
    }
    .el-card__footer{
        border-top: 1px solid var(--vp-c-border)
    }

    .el-card.is-hover-shadow:hover {
        box-shadow: var(--el-box-shadow-dark);
    }

    div[class*=language-] {
        background-color: #151618;
    }
    .el-timeline {
        --el-timeline-node-color: rgb(62, 67, 77);
    } 
    .el-card {
        color: white;
    }

    .el-dialog{
        .el-dialog__header {
            color: rgb(60, 60, 67);
        }
    }
}