:root {
    --vp-c-indigo-1: #5a72fe;
    --vp-c-indigo-2: #5167e2;
    --vp-c-indigo-3: #5a72fe;
}

:root {

    .vp-doc table {
        display: table;
        width: 100%;
    }

    .vp-doc :not(pre) > code {
        color: var(--vp-c-brand);
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        /* font-family: var(--vp-font-family-base); */
        /* letter-spacing: 1px; */
        padding: 4px 6px;
        margin: 0 4px;
        background-color: var(--vp-c-brand-soft);
    }
}

:root{
    /* body滚动条 */
    body::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    body::-webkit-scrollbar-thumb {
        background-color: var(--vp-c-brand);
        border-radius: 3px;
    }
    body::-webkit-scrollbar-track {
        background: var(--vp-c-gray-1);
        
    }

    /* 侧边栏滚动条容器 */
    .VPSidebar::-webkit-scrollbar {
        width: 6px;
        /* height: 6px; */
    }
    /* 侧边栏滚动条 */
    .VPSidebar::-webkit-scrollbar-thumb {
        background-color: var(--vp-c-brand);
        border-radius: 3px;
    }
    /* 侧边栏滚动条轨道 */
    .VPSidebar::-webkit-scrollbar-track {
        background: var(--vp-c-gray-1);
    }

    .VPSidebar .nav .group .items{
        padding-left: 16px;
    }
    .VPSidebar .nav .group > .VPSidebarItem{
        padding-bottom: 10px;
    }

}


:root {
    .el-image-viewer__wrapper{
        backdrop-filter: blur(8px);
    }
    .el-image-viewer__mask{
        opacity: .1;
    }

    .el-card:hover {
        --el-card-border-color: var(--vp-c-brand);
    }

    .el-card:hover .el-card__footer {
        border-color: var(--vp-c-gray-1);
    }
}

:root {
    .back-to-top {
        position: fixed;
        right: 40px;
        bottom: 32px; 
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: var(--vp-c-gray-soft);
        border: 1px solid var(--vp-c-border-1);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 8px;
        z-index: 100;
        transition: all 0.3s ease-in-out;
    }

    .back-to-top:hover svg {
        transform: scaleX(1.15) scaleY(1.15);
        transition: transform 0.2s ease-in-out;
    }

}


@media (min-width: 960px) {
    .VPSidebar[data-v-d0bc8011] {
        padding-top: var(--vp-nav-height);
        width: var(--vp-sidebar-width);
        max-width: 100%;
        background-color: var(--vp-sidebar-bg-color);
        opacity: 1;
        visibility: visible;
        box-shadow: none;
        transform: translateX(0);
    }
}

html.dark {
  .el-card {
    --el-card-bg-color: var(--vp-c-bg);
    --el-card-border-color: var(--vp-c-border);
  }
  
}